body {
    font-family: "Montserrat-Light", sans-serif;
    font-weight: 300;
}

.lib__item-tag, .lib__item-inf, .lib__text, .lib__li {
    font-family: "Montserrat-Medium", sans-serif;
    font-weight: 500;
}

.lib__space, .lib__logo {
    font-family: "Montserrat-SemiBold", sans-serif;
    font-weight: 600;
}

.lib__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.lib__sidebar {
    width: 15%;
}

.lib__logo {
    display: block;
    padding: 20px 20px 20px 30px;
    font-size: 30px;
}

.lib__ul {
    padding: 20px;
}

.lib__li {
    padding: 2px 2px 2px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.lib__li:hover {
    background-color: grey;
}

.lib__first-li {
    margin-bottom: 20px;
}

.lib__content {
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.lib__box {
    padding: 50px;
    width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.lib__text {
    margin-bottom: 10px;
    font-size: 30px;
}

.lib__input-box {
    display: flex;
}

.lib__input {
    width: 100%;
    padding: 12px 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.lib__input-btn {
    background-color: #000000;
    color: #fff;
    padding: 5px 30px;
    border-radius: 5px;
}

.lib__notfound {
    display: none;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #666;
}

.lib__item {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

.lib__item-wrp {
    display: block;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.1s ease-in-out;
}

.lib__item-wrp:hover {
    background-color: rgb(206, 206, 206);
}

.lib__item-inf {
    display: flex;
}

.lib__space {
    padding: 0 10px;
}

.lib__item-tag {
    display: block;
    font-size: 14px;
}

.lib__item-descrp {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

@font-face {
    font-family: "Montserrat-Light";
  font-weight: 200;
  font-style: normal;
  src: local("Montserrat-Light"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
    font-family: "Montserrat-Medium";
  font-weight: 500;
  font-style: normal;
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
    font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-style: normal;
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-display: swap;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}

main {
    flex: 1;
}

.container {
    padding: 0 50px;
}

a {
    color: #000000;
}

button {
    border: none;
    cursor: pointer;
}

@media (max-width: 1600px) {
    .lib__sidebar {
        width: 20%;
    }

    .lib__content {
        width: 80%;
    }

    .lib__item {
        margin-bottom: 10px;
    }

    .lib__item-wrp {
        padding: 5px;
    }
}
/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}