$maxWidth: 1200;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

// @include adaptiv-font(120, 50);

@media (max-width: 1600px) {
  .lib {
    &__sidebar {
      width: 20%;
    }
    &__item{
      margin-bottom: 10px;
    }
    &__item-wrp {
      padding: 5px;
    }
  }
}


/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
@media (max-width: 1200px) {
  .container{
    padding: 0 25px;
  }
  .lib{
    position: relative;
    &__menu-btn{
      display: block;
    }
    &__box{
      padding: 25px;
      width: 100%;
    }
    &__sidebar{
      content: "";
      position: fixed;
      opacity: 0;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $white;
      transition: opacity .3s ease-in-out;
      pointer-events: none;
      .lib__logo{
        display: none;
      }
      .lib__ul{
        padding-top: 100px;
        text-align: center;
      }
      .lib__li{
        padding:7px;
        &:hover{
          background-color: $white;
        }
      }
    }
    &__sidebar.active{
      opacity: 1;
      pointer-events: auto;
    }
    &__content{
      width: 100% !important;
      // flex: 1;
      border-radius: 0;
    }
  }
}


/* Portrait tablets and small desktops */
@media (max-width: 991px) {}


/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .container{
    padding: 0 10px;
  }
  .lib{
    &__box{
      padding: 10px;
    }
    &__input{
      padding: 15px 5px;
      &::placeholder{
        font-size: 12px;
      }
    }
    &__input-btn{
      padding: 5px 20px;
    }
    &__item-inf{
      flex-direction: column;
    }
    &__space{
      display: none;
    }
    &__item-descrp{
      font-size: 12px;
    }
    &__item{
      margin-bottom: 0;
    }
    &__item-wrp:hover{
      background-color: transparent;
    }
  }
}


/* Landscape phones and smaller */
@media (max-width: 480px) {}